*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: 0
}

$text-color: hsl(51, 91%, 77%);

body {
	background-color: rgb(56, 56, 212);
}

.App {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-page-container {
	display: flex;
	flex-direction: column;
	color: $text-color;
	
	h1, h3 {
		margin: 20px 0 20px 20px;
	}

	a {
		text-decoration: none;
		color: $text-color;
	}

}

.page-outer-container {
	width: 250px;
	height: 900px;
	border: white solid 1px;
	margin: 50px 0;
}

.page-inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border: black solid 1px;*/

	p {
		margin: 20px 20px 20px 20px;
	}
}

.rectangle {
	width: 200px;
	height: 210px;
	background-color: white;
}

.menu-icon-container {
	position: absolute;
	top: 15px;
	right: 15px;
}






